* {
	color: yellow;
	text-align: center;
}
#title {
	z-index: 1;
	font-family: "Courier New"
}
#title-banner {
	position: relative;
	z-index: 0;
	width: 700px;
	height: 288px;
}
#gsearch {
	width: 1000px;
	color: black;
}
body {
	background-color: red;
}

#submit-button {
	color: black;
	font-family: "Courier New";
}
h3 {
	font-size: 20px;
	font-family: "Courier New"
}