@import url("homepage.css");
@import url("results/results.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background: black;
  font-size: 2.5rem;
  position: sticky;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;
  display: flex;
  width: 100%;

  height: 100px;
}

.navbar__container {
  width: 100%;
  display: flex;
  height: 80px;
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1720px;
  background-color: black;
  justify-content: center;
}

#navbar__logo {
  font-family: "Montserrat", sans-serif;

  justify-self: start;
  font-size: 3.5rem;
  background-color: black;
  background-image: linear-gradient(to top, #ce8526e8 20%, white 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.navbar__logo {
  cursor: pointer;
  text-align: center;
  align-items: center;
}

hr {
  width: auto;
  height: 5px;
  color: #ce8526e8;
  background-color: #ce8526e8;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ce8526e8;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#description {
  text-align: center;
}

#title {
  text-align: center;
}

#category-header {
  display: block;
  text-align: center;
}